* {
  box-sizing: border-box;
}
:root {
  --primary:#DD6E42;
  --secondary:#E8DAB2;
  --tertiary:#C0D6DF;
  --quadrary:#4F6D7A;
  --quintary:#EAEAEA;
  --dark:#473144;



}
main {
  margin: 0 auto;
  max-width: 95%;
  padding:20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body {
background-color:var(--tertiary);
max-width: 100%;
}

footer {
  margin: 0;
  background-color: var(--dark);  
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer a {
  margin:10pt;
  font-size: 3rem;
}

p {
  color: var(--quadrary);
  outline-color: black;
  outline-width: 5;
  text-decoration: black;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

h1 {
  font-size: 4rem;
}


header {
  max-width:100%;
  position: relative;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin:0;
}

.flex-row {
  display:flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  color: var(--quadrary);
  font-size: 1.5rem;
}

 a {
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
  font-size: 1.5rem;
}

nav a:hover {
  color:#0d6efd;
}
.navbar {
  justify-content: right;
  align-items:flex-end;

  
}

.mrG{
  justify-content: left; 
  color:var(--quintary);
  font-size: 2rem;
  align-items:flex-start;
  
}

img {
  max-height: 200px;
  justify-content: center;
  align-items: center;
}

form {
  flex-direction: row;
  justify-content: center;
  align-items: center;

}


/* Responsive Design Changes */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-left:0;
  }
  h2 {
    float:none;
  }
  ul {
    flex-direction:column;
    align-items: center;
  }
  
}